.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;
}

.title {
    margin: 10px 0px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 900px) {
    .sign-in {
        padding: 5vw;
        width: 80vw;
    }
}