
.directory-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media only screen and (max-width: 900px) {
    .directory-menu {
        display: flex;
        flex-direction: column;
    }
}