body {
    font-family: Open Sans Condensed;
    padding: 20px 50px;
}

a {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 900px) {
    body {
        padding: 10px 10px;
    }
}
